* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/*This changes adds style and a different format to the contents inside the header class.*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/*This indicates the display format and the font size of the h1 element assigned to the header class.*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}
/*This indicates the color that the .seo class found inside the h1 element assigned to the header class needs to be.*/
.header h1 .seo {
    color: #d9dcd6;
}
/*Here, different settings are assigned to the contents inside the nav element attached to the header class.*/
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/*This setting takes away the bullet points that are normally part of the unordered list element found inside the nav element assigned to the header class.*/
.header nav ul {
    list-style-type: none;
}
/*Listed items inside the list and nav elements attached to the header class need to be displayed in inline-block with a left margin of 25px.*/
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/*This indicates the color and type of text decoration the links in the global navigation should look like.*/
a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

h2 {
    font-size: 36px;
}

.hero {
    height: 800px;
    width: 100%;
    /* margin-bottom: 25px; */
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2%; 
    /* padding: 4%; */
    
}

.main-sections {
    display:flex;
    flex-direction: column;
}
.section-layouts {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    padding: 4%;
    margin: 1%;
    
}

.section-layouts aside {
    padding: 3%;
}

#middle-reversed-row {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    padding: 4%;
    margin: 1%;
    
}

#middle-reversed-row aside {
    padding: 3%;
}

#search-engine-optimization img {
    max-height: 200px;
}

.online-reputation-management img {
    max-height: 200px;
}

#social-media-marketing img {
    max-height: 200px;
}

.benefits {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 1%;
    padding: 2%;
    width: 50%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
    color: #ffffff;
}

/* .benefit-sections {
    display: flex;

} */

#benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

#benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

#benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}



.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* text-align: center; */
}

.footer h2 {
    font-size: 20px;
}
